<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's Dashboard</title>
    <link rel="stylesheet" href="admin1.css">
    <link href="../img/dashboard.png" rel="shortcut icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2d11d15e86.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
   <div class="sidebar">
    <header>Dashboard</header>
    <ul>
        <li><a href="/admin"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/admin1"> <i class="fa-sharp fa-solid fa-users"></i>Societies</a></li>
        <li><a href="/calendar"><i class="fas fa-calendar-week"></i>Events</a></li>
        <li><a href="/admin#about"><i class="fas fa-question-circle"></i>About</a></li>
        <li><a href="/donate"><i class="fas fa-link"></i>Donate</a></li>
        
    </ul>
   </div> 
   <section>
  <h1 >
    </h1>
    <div class="cardcontainer">

        <div class="card">
            <div class="imgbox">
                <img src="img/define.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-define">Define Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="img/bhajrang.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-bajrang">Bajrang Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="img/enter.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-enter">Enterpeneur Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="img/elec.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-elec">Electoract Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="img/avanesh.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-avanesh">Avanesh Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="img/maverics.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-maverics">Maverics Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="img/coding.jpeg" alt=""/>
            </div>
            <div class="content">
                <h2><a href="/assign-maverics">Coding Club</a></h2>
                <p>Define club is the club which make you feel the energy for coding</p>
            </div>
        </div>
    </div>
    
   </section>
</body>
</html>